#container {
    border: black solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 600px;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
}

.line-1 {
    position: absolute;
    top: 100px;

    height: 2px;
    width: 100px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 6%, rgba(62, 62, 62, 1) 63%, rgba(9, 9, 9, 1) 100%);
}

.circle-1 {
    position: absolute;
    top: 75px;
    left: 100px;

    height: 50px;
    width: 50px;
    border: lightgray solid 1px;
    border-radius: 50%;

    transition: width 0.5s ease-in-out, border 0.5s ease-in-out;
    /* transition: border 0.5s ease-in-out; */
}

.inner-circle-1 {
    position: relative;
    left: 6.5px;
    top: 6.6px;


    height: 35px;
    width: 35px;
    border: lightgrey solid 1px;
    border-radius: 50%;
    background-color: lightgrey;
}

.text-1 {
    position: relative;
    left: 12px;
    top: 4px;
}


.line-2 {
    position: absolute;
    bottom: 98px;
    left: 151px;

    height: 2px;
    width: 100px;
    background: black;

    transition: left 0.5s ease-out, width 0.5s ease-out
}

.line-2-moved {
    position: absolute;
    bottom: 98px;
    left: 261px;

    height: 2px;
    width: 40px;
    background: black;

    transition: left 0.5s ease-out
}

.line-2-moved-1 {
    position: absolute;
    bottom: 98px;
    left: 151px;

    height: 2px;
    width: 149px;
    background: black;

    transition: left 0.5s ease-out
}

.circle-2 {
    position: absolute;
    top: 75px;
    left: 250px;

    height: 50px;
    width: 50px;
    border: lightgrey solid 1px;
    border-radius: 50%;

    transition: left 0.5s ease-out
}

.circle-2-moved {
    position: absolute;
    top: 75px;
    left: 300px;

    height: 50px;
    width: 50px;
    border: lightgrey solid 1px;
    border-radius: 50%;

    transition: left 0.5s ease-out
}

.inner-circle-2 {
    position: relative;
    left: 6.5px;
    top: 6.6px;


    height: 35px;
    width: 35px;
    border: lightgrey solid 1px;
    border-radius: 50%;
    background-color: lightgrey;
}

.text-2 {
    position: relative;
    left: 12px;
    top: 4px;
}

.line-3 {
    position: absolute;
    top: 100px;
    left: 301px;

    height: 2px;
    width: 100px;
    background: rgb(9, 9, 9);
    background: linear-gradient(90deg, rgba(9, 9, 9, 1) 24%, rgba(62, 62, 62, 1) 44%, rgba(255, 255, 255, 1) 78%);
    transition: left 0.5s ease-out, width 0.5s ease-out;
}

.line-3-moved {
    position: absolute;
    top: 100px;
    left: 351px;

    height: 2px;
    width: 70px;
    background: rgb(9, 9, 9);
    background: linear-gradient(90deg, rgba(9, 9, 9, 1) 24%, rgba(62, 62, 62, 1) 44%, rgba(255, 255, 255, 1) 78%);
    transition: left 0.5s ease-out, width 0.5s ease-out;
}

.line-3-moved-1 {
    position: absolute;
    top: 100px;
    left: 461px;

    height: 2px;
    width: 70px;
    background: rgb(9, 9, 9);
    background: linear-gradient(90deg, rgba(9, 9, 9, 1) 24%, rgba(62, 62, 62, 1) 44%, rgba(255, 255, 255, 1) 78%);
    transition: left 0.5s ease-out, width 0.5s ease-out;
}


.long-circle-1 {
    position: absolute;
    top: 75px;
    left: 100px;

    height: 50px;
    width: 160px;
    border: black solid 1px;
    border-radius: 30% / 90%;

    transition: width 0.5s ease-out, left 0.5s ease-out;
}

.long-circle-text-1 {
    display: inline-flex;
    position: relative;
    bottom: 25px;
    left: 50px;

    height: 50px;
    width: 100px;

    transition: left 0.5s ease-out
}



.long-circle-2 {
    position: absolute;
    top: 75px;
    left: 300px;

    height: 50px;
    width: 160px;
    border: black solid 1px;
    border-radius: 30% / 90%;

    transition: width 0.5s ease-out, left 0.5s ease-out, border 0.5s ease-out;
}

.long-circle-text-2 {
    display: inline-flex;
    position: relative;
    bottom: 25px;
    left: 50px;

    height: 50px;
    width: 100px;

    transition: left 0.5s ease-out
}